*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/*/build
/*/*/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.jks
*.keystore
/releases
build-mosh/
com/jcraft/jsch/
build-proot/build-*/
build-proot/dl/
result
