[submodule "termlib"]
	path = termlib
	url = https://github.com/GlassOnTin/termlib.git
	branch = fix-popScrollbackLine-0.0.22
[submodule "mosh-kotlin"]
	path = mosh-kotlin
	url = https://github.com/GlassOnTin/ssp-transport.git
[submodule "et-kotlin"]
	path = et-kotlin
	url = https://github.com/GlassOnTin/et-kotlin.git
[submodule "build-proot/proot-termux"]
	path = build-proot/proot-termux
	url = https://github.com/termux/proot
[submodule "wayland-android"]
	path = wayland-android
	url = https://github.com/GlassOnTin/wayland-android.git
